<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">


</head>
<body>
    <div class="box-1">
        <h1>
            <%= email %>
            <%= contacts %>
            
        </h1>
    </div>

    <div class="box-2">
        <% for(let i = 0; i < 5; i++){ %>
            <h5>ruslan</h5>
        <% } %>
    </div>

    <div class="box-3">
        <% for(let i = 0; i < addresses.length; i++){ %>
        <h5 ><%= addresses[i] %></h5>
    <% } %>
    </div>
    
    <div class="box-4">
    <% for(let i = 0; i < addresses.length; i++){ %>
        <% if(addresses[i].length < 10){ %>
            <h5><%= addresses[i] %></h5> 

        <% } %>
    <% } %>
    </div>


</body>
</html>